/* Section for cart specific stylings */

.cart-container {
    width: 100%; 
    border: 2px solid red; 
}

h2 {
    text-align: center;
    color: #aaa;
    margin-top: 2rem; 
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.card {
    margin: 1.4rem auto 0 auto; 
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #fff;
    border-radius: 0.6rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-image {
    width: 30%;
    object-fit: cover;
    padding: 1rem;
}

.card-content {
    flex: 1;
    padding: 1rem;
}

.card-title {
    font-size: 1.4rem;
    margin: 0;
}

.card-description {
    color: #777;
    margin-top: 0.8rem;
}

.add-btn {
    background-color: rgb(239, 161, 16); 
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 1.6rem;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: rgb(184, 126, 19); 
}

.card-price {
    padding: 1rem;
    font-size: 1rem;
    color: #333;
}
